<link rel="stylesheet" href="/components/css/footer.css">
<section class="footer-content">

  <div class="footer-grid">

    <!-- LEFT -->
    <div class="footer-brand">
      <h1>TWO <br> BROTHERS</h1>
      <span>ORGANIC FARMS</span>
    </div>

    <!-- CENTER -->
    <div class="footer-subscribe">
      <h2>THE ORGANIC WAY OF LIFE</h2>
      <p>
        Subscribe for special offers, newsletters<br>
        and become a part of our movement
      </p>

      <div class="subscribe-input">
        <input type="email" placeholder="Your e-mail">
        <button>→</button>
      </div>

      <div class="footer-menus">
        <span>CATEGORIES ▾</span>
        <span>GENERAL ▾</span>
        <span>CONNECT ▾</span>
      </div>

      <div class="footer-social">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>

      <div class="footer-apps">
        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg">
      </div>
    </div>

    <!-- RIGHT -->
    <div class="footer-info">
      <p>
        <strong>TBOF FOODS PRIVATE LIMITED</strong><br><br>
        (Two Brothers Organic Farms India)<br><br>
        (CIN): U01110PN2019TC182942<br><br>
        11th FLOOR, N-1104, JASMINIUM BUILDING,<br>
        MAGARPATTA CITY, HADAPSAR,<br>
        Pune, Maharashtra, 411028<br><br>
        Email: info@twobrothersindia.com<br>
        Tel: 7406753753<br>
        Grievances: 7406753753
      </p>
    </div>

  </div>

</section>
