body {
  background-image: url("/Assests/images/Footer\ Image.png ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* FOOTER CONTENT */
.footer-content {
  
  padding: 70px 90px 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  align-items: start;
  gap: 60px;
}

/* LEFT */
.footer-brand h1 {
  font-size: 42px;
  font-weight: 800;
  color: #2f5b2f;
  line-height: 1.1;
}

.footer-brand span {
  letter-spacing: 4px;
  font-size: 13px;
  color: #2f5b2f;
}

/* CENTER */
.footer-subscribe h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2f5b2f;
}

.footer-subscribe p {
  color: #555;
  margin-bottom: 25px;
}

.subscribe-input {
  display: flex;
  max-width: 480px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.subscribe-input input {
  flex: 1;
  padding: 14px;
  border: none;
  outline: none;
}

.subscribe-input button {
  background: none;
  border: none;
  padding: 0 18px;
  font-size: 20px;
  cursor: pointer;
}

.footer-menus {
  display: flex;
  gap: 30px;
  margin: 25px 0;
  font-weight: 600;
}

.footer-social {
    padding-left: 70px;
  display: flex;
  gap: 40px;
  font-size: 18px;
  margin-bottom: 25px;
}

.footer-apps img {
  height: 45px;
  margin-right: 15px;
}

/* RIGHT */
.footer-info {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}

/* ILLUSTRATION */
.footer-illustration img {
  width: 100%;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .subscribe-input {
    margin: auto;
  }

  .footer-menus,
  .footer-social {
    justify-content: center;
  }
}
